<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2010-2010 LinkedIn, Inc
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not
  ~ use this file except in compliance with the License. You may obtain a copy of
  ~ the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations under
  ~ the License.
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.linkedin.groovy.util.log.MaskDataPatternLayout">
      <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} %p [%c{1}] %w%n%s" />
      <!-- Define a map that contains key as the regex that should be filtered.
           and value is a closure that specifies how it should be filtered.

           The following regex will make lines with embedded secret keys like:

           action=start, script=gluscript.groovy, args=[foo: bar, encryptionKeys:[key1: key1, key2: key2]]

           to be become:

           action=start, script=gluscript.groovy, args=[foo:bar, encryptionKeys:[*** MASKED ***]]
      -->
      <param name="MaskingRegex" value="
               [
		/(encryptionKeys\\s*:\\s*\\[)(.*?\\]\\s*)(\\])/:
			{ Object[] it ->
				it[1] + '*** MASKED ***' + it[3] 
			}
               ]" />
    </layout>
  </appender>

  <logger name="org.restlet.Component.LogService">
    <level value="warn"/>
  </logger>

  <root>
    <priority value="info"/>
    <appender-ref ref="ConsoleAppender"/>
  </root>

</log4j:configuration>

