<plugin name='decorate-grails-methods-plugin' version='1.0.0' grailsVersion='2.2.1 &gt; *'>
  <author>Yan Pujante</author>
  <authorEmail>yan@pongasoft.com</authorEmail>
  <title>Decorate Grails Methods Plugin</title>
  <description>
The purpose of this plugin is to decorate various grails methods.
</description>
  <documentation>null</documentation>
  <type>DecorateGrailsMethodsPluginGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='cache' version='1.0.1' />
      <plugin group='org.grails.plugins' name='shiro' version='1.1.4' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.1' />
      <plugin group='org.grails.plugins' name='jquery' version='1.8.3' />
      <plugin group='org.grails.plugins' name='database-migration' version='1.3.2' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.1' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>